{% load static %}
<div class="box-logo">
    <a href="/" id="site-logo-inner">
        <img class="" id="logo_header" alt="" src="{% static 'images/logo/logo.png' %}" data-light="{% static 'images/logo/logo.png' %}" data-dark="{% static 'images/logo/logo-dark.png' %}" >
    </a>
    <div class="button-show-hide">
        <i class="icon-menu-left"></i>
    </div>
</div>
<div class="section-menu-left-wrap">
    <div class="center">
        <div class="center-item">
            <div class="center-heading">Main Home</div>
            <ul class="menu-list">
                <li class="menu-item has-children active">
                    <a href="javascript:void(0);" class="menu-item-button"></a>
                    <ul class="sub-menu" style="display: block;">
                        <li class="sub-menu-item"></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="center-item">
            <div class="center-heading">All page</div>
            <ul class="menu-list">
                <li class="menu-item has-children">
                    <a href="javascript:void(0);" class="menu-item-button">
                        <div class="icon"><i class="icon-shopping-cart"></i></div>
                        <div class="text">Ecommerce</div>
                    </a>
                    <ul class="sub-menu">
                        <li class="sub-menu-item"></li>
                        <li class="sub-menu-item"></li>
                        <li class="sub-menu-item"></li>
                        <li class="sub-menu-item"></li>
                        <li class="sub-menu-item"></li>
                    </ul>
                </li>
                <li class="menu-item has-children">
                    <a href="javascript:void(0);" class="menu-item-button">
                        <div class="icon"><i class="icon-layers"></i></div>
                        <div class="text">Category</div>
                    </a>
                    <ul class="sub-menu">
                        <li class="sub-menu-item"></li>
                        <li class="sub-menu-item"></li>
                    </ul>
                </li>
                <li class="menu-item has-children">
                    <a href="javascript:void(0);" class="menu-item-button">
                        <div class="icon"><i class="icon-box"></i></div>
                        <div class="text">Attributes</div>
                    </a>
                    <ul class="sub-menu">
                        <li class="sub-menu-item"></li>
                        <li class="sub-menu-item"></li>
                    </ul>
                </li>
                <li class="menu-item has-children">
                    <a href="javascript:void(0);" class="menu-item-button">
                        <div class="icon"><i class="icon-file-plus"></i></div>
                        <div class="text">Order</div>
                    </a>
                    <ul class="sub-menu">
                        <li class="sub-menu-item"></li>
                        <li class="sub-menu-item"></li>
                        <li class="sub-menu-item">
                            <a href="oder-tracking.html" class=""></a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item has-children">
                    <a href="javascript:void(0);" class="menu-item-button">
                        <div class="icon"><i class="icon-user"></i></div>
                        <div class="text">User</div>
                    </a>
                    <ul class="sub-menu">
                        <li class="sub-menu-item">
                            <a href="all-user.html" class=""></a>
                        </li>
                        <li class="sub-menu-item">
                            <a href="add-new-user.html" class=""></a>
                        </li>
                        <li class="sub-menu-item">
                            <a href="login.html" class=""></a>
                        </li>
                        <li class="sub-menu-item">
                            <a href="sign-up.html" class=""></a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item has-children">
                    <a href="javascript:void(0);" class="menu-item-button">
                        <div class="icon"><i class="icon-user-plus"></i></div>
                        <div class="text">Roles</div>
                    </a>
                    <ul class="sub-menu">
                        <li class="sub-menu-item">
                            <a href="all-roles.html" class=""></a>
                        </li>
                        <li class="sub-menu-item">
                            <a href="create-role.html" class=""></a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="gallery.html" class="">
                        <div class="icon"><i class="icon-image"></i></div>
                        <div class="text">Gallery</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="report.html" class="">
                        <div class="icon"><i class="icon-pie-chart"></i></div>
                        <div class="text">Report</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="center-item">
            <div class="center-heading">Setting</div>
            <ul class="menu-list">
                <li class="menu-item has-children">
                    <a href="javascript:void(0);" class="menu-item-button">
                        <div class="icon"><i class="icon-map-pin"></i></div>
                        <div class="text">Location</div>
                    </a>
                    <ul class="sub-menu">
                        <li class="sub-menu-item">
                            <a href="countries.html" class=""></a>
                        </li>
                        <li class="sub-menu-item">
                            <a href="states.html" class=""></a>
                        </li>
                        <li class="sub-menu-item">
                            <a href="cities.html" class=""></a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="setting.html" class="">
                        <div class="icon"><i class="icon-settings"></i></div>
                        <div class="text">Setting</div>
                    </a>
                </li>
                <li class="menu-item has-children">
                    <a href="javascript:void(0);" class="menu-item-button">
                        <div class="icon"><i class="icon-edit"></i></div>
                        <div class="text">Pages</div>
                    </a>
                    <ul class="sub-menu">
                        <li class="sub-menu-item">
                            <a href="list-page.html" class="">
                                <div class="text">List page</div>
                            </a>
                        </li>
                        <li class="sub-menu-item">
                            <a href="new-page.html" class="">
                                <div class="text">New page</div>
                            </a>
                        </li>
                        <li class="sub-menu-item">
                            <a href="edit-page.html" class="">
                                <div class="text">Edit page</div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="center-item">
            <div class="center-heading">Components</div>
            <ul class="menu-list">
                <li class="menu-item">
                    <a href="components.html" class="">
                        <div class="icon"><i class="icon-database"></i></div>
                        <div class="text">Components</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="center-item">
            <div class="center-heading">Support</div>
            <ul class="menu-list">
                <li class="menu-item">
                    <a href="#" class="">
                        <div class="icon"><i class="icon-help-circle"></i></div>
                        <div class="text">Help center</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="#" class="">
                        <div class="icon">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"></svg>
                        </div>
                        <div class="text">FAQs</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="#" class="">
                        <div class="icon">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.41029 13.9852L2.90967 16.4895C2.47263 16.9272 1.76451 16.9272 1.3275 16.4895C0.890833 16.0522 0.890833 15.3427 1.3275 14.9054L3.82812 12.4011M6.14799 10.2051L7.11794 11.175L8.91794 9.375" stroke="#111111" stroke-width="1.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                        <div class="text">Privacy policy</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="center-item">
            <div class="center-heading">Connect us</div>
            <ul class="wg-social">
                <li>
                    <a href="#"><i class="icon-facebook"></i></a>
                </li>
                <li class="active">
                    <a href="#"><i class="icon-twitter"></i></a>
                </li>
                <li>
                    <a href="#"><i class="icon-linkedin"></i></a>
                </li>
                <li>
                    <a href="#"><i class="icon-instagram"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="bot text-center">
        <div class="wrap">
            <div class="mb-20">
                <img src="{% static 'images/menu-left/img-bot.png' %}" alt="">
            </div>
            <div class="mb-20">
                <h6>Hi, how can we help?</h6>
                <div class="text">Contact us if you have any assistance, we will contact you as soon as possible</div>
            </div>
            <a href="#" class="tf-button w-full">Contact</a>
        </div>
    </div>
</div>
